# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
parsing_test.sas
axiom_mutex_test.sas
/DeletefreeSAS
/out*
/.ropeproject
/script/logs*
/script/tasks.txt
/script/timeout*
/script/best_known*

# Latex
*.aux
*.bbl
*.blg
main-blx.bib
*.lof
*.log
*.lot
*.out
main.run.xml
*.toc
pdfa.xmpi
*.pdf
*.loa
*.nav
*.snm
*.vrb
